[submodule "themes/cactus"]
	path = themes/cactus
	url = https://github.com/monkeyWzr/hugo-theme-cactus.git
[submodule "themes/awesome"]
	path = themes/awesome
	url = https://github.com/hugo-sid/hugo-blog-awesome.git
